@for $i from 1 through 3 {
  .star#{$i} {
    position: absolute;
    width: #{$i}px;
    height: #{$i}px;
    background-color: #fff;

    .foreground & {
      width: #{$i * 2}px;
      height: #{$i * 2}px;
    }
  }
}
