@import './Space/Star.scss';

.mainmenu {
  background-color: #1e0054;
  height: 100vh;

  h1 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  img {
    display: block;
    position: absolute;
  }

  .player-ship {
    top: 30vh;
    right: 2vw;
    transform: rotate(-120deg) scale(2);
  }

  .player-bullet {
    transform: rotate(-120deg) scale(2);

    &[data-num='1'] {
      top: calc(30vh + 150px);
      right: calc(2vw + 200px);
    }

    &[data-num='2'] {
      top: calc(30vh + 240px);
      right: calc(2vw + 450px);
    }
  }

  .enemy-gunship {
    top: 80vh;
    left: 10vw;
    transform: rotate(25deg) scale(5);
  }

  .enemy-ship {
    &[data-num='1'] {
      top: 10vh;
      left: 5vw;
      transform: rotate(100deg) scale(2);
    }

    &[data-num='2'] {
      left: 55vw;
      bottom: 5vh;
      transform: rotate(50deg) scale(2);
    }
  }

  .enemy-bullet {
    &[data-num='1'] {
      top: calc(16vh + 1vw);
      left: 35vw;
      transform: rotate(100deg) scale(2);

      @media screen and (max-width: 750px) {
        top: calc(10vh + 58px);
        left: calc(5vw + 226px);
      }
    }

    &[data-num='2'] {
      left: calc(55vw + 200px);
      bottom: calc(5vh + 150px);
      transform: rotate(50deg) scale(2);
    }
  }

  ul.items {
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      display: block;
      width: 20vw;
      padding: 0.2em;
      margin: 0.5em;
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      background-color: #fff;
      border-radius: 0.3em;

      &:hover {
        background-color: #764eb9;
      }
    }
  }
}
